<html>
  <head>
    <title>The Grand Movie Database</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
